@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.fp{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color:#8471fd6c;
}

.fp-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #8471fd;
}

button {
    padding: 10px;
    background-color: #151111;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5f51c9;
}

.back-login {
    margin-top: 20px;
}

.back-login a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.back-login a:hover {
    color: #5f51c9;
}

.fp-container .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.fp-container .logo img {
  width: 50px;
  margin-bottom: 10px;
}

.fp-container .logo h4 {
  font-size: 1.5rem;
  color: #333;
}

@media (max-width: 480px) {
    .fp-container {
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    input {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
    }
}